a {
	text-decoration: none;
}

#outputArea {
	border-collapse: collapse;
	display: table;
}

#outputArea > span {
	display: table-row;
}

#outputArea > span > span {
	border: 1px solid;
	display: table-cell;
	padding: 0.2em 0.4em;
	white-space: nowrap;
}

#outputArea > span > span > p {
	margin-bottom: 0rem;
    width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}